@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@layer utilities {
  :root {
    --clr-primary: "#fffcf7";
    --clr-accent: "#242d1b";
    --clr-primaryDarker: "#eae8e4";
  }

  /* preventing scroll over x-axis because of scrollbar width */
  /* .App {
    width: 100%;
  }
  #react_homepage {
    width: 100vh;
  } */

  html {
    scroll-behavior: smooth;
  }

  .container-grid {
    display: grid;
    width: 100%;

    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";

    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto 1fr auto;
    /* grid-gap: 10px; */

    min-height: 100vh;
  }

  header {
    display: grid;
    grid-area: header;
    /* background-color: aqua; */
    border: 1px solid var(--clr-accent);
    border-top: 0;
    border-inline: 0;
    grid-template-columns: 1fr 5fr 1fr;
  }

  /* animations */
  /* Marquee styles */
  .marquee {
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    /* gap: var(--gap); */
  }

  .marquee__content {
    flex-shrink: 0;
    display: flex;
    /* justify-content: space-around; */
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 10s linear infinite;
    font-weight: 100;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      /* transform: translateX(calc(-100% - var(--gap))); */
      transform: translateX(-100%);
    }
  }

  .marquee--hover-pause:hover .marquee__content {
    animation-play-state: paused;
  }

  /* NAVBAR LATERALE */
  nav {
    grid-area: nav;
    /* margin-left: 0.5rem; */
    /* background-color: blue; */
    /* border: 1px solid var(--clr-accent); */
  }

  .navbar-link {
    transition: width 0.5s ease-in-out;
  }

  @media (min-width: 1024px) {
    .navbar-link:hover {
      width: 70px;
    }
  }

  /*! A 875PX L'ANIMAZIONE DEVE ESSERE DISABILITATA PERCHè NON C'è SPAZIO */
  @media (min-width: 875px) {
    .navbar-link:hover {
      width: 53px;
    }
  }

  .text-vertical-navbar {
    transform: rotate(-90deg);
  }

  /* .navbar-link:hover {
    right: 0;
  } */

  main {
    grid-area: content;
    /* background-color: rosybrown; */

    border: 1px solid var(--clr-accent);
    border-bottom: 0;
    /* border-top: 0; */
  }

  .img-main {
    aspect-ratio: 9/14.5;
    object-fit: cover;
  }

  aside {
    grid-area: side;
    /* margin-right: 0.5rem; */
    /* background-color: violet; */
    /* border: 1px solid var(--clr-accent); */
  }

  footer {
    grid-area: footer;
    /* background-color: red; */
    border: 1px solid var(--clr-accent);
    border-inline: 0;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
  }

  /* navbar laterale */
  /* .navbar-lateral:nth-child(1):hover {
    margin-right: 0;
  } */

  /* classi ausiliari */

  .grid-span-1 {
    grid-column: 1/2;
  }

  .grid-span-2 {
    grid-column: 2/3;
  }

  .grid-span-3 {
    grid-column: 3/4;
  }

  .text-vertical-right {
    /* position: absolute; */
    transform: rotate(-90deg);
    /* transform-origin: left top 0; */
    /* text-orientation: sideways; */
    /* top: 50%; */
    /* left: 50%;  */
    font-stretch: condensed;
    margin-right: -100%;
    transition: margin-right 0.75s ease-in-out;
  }

  .text-vertical-right:hover {
    margin-right: 0;
  }

  /* media queries */

  @media (max-width: 768px) {
    .container-grid {
      grid-template-areas:
        "header"
        "nav"
        "content"
        "side"
        "footer";

      grid-template-columns: 1fr;
      grid-template-rows:
        auto /* Header */
        minmax(75px, auto) /* Nav */
        1fr /* Content */
        minmax(75px, auto) /* Sidebar */
        auto; /* Footer */
    }

    nav,
    aside {
      margin: 0;
    }
  }
}
